body {
  background-color: black;
  margin: 28px;
  color: white;
  overflow-x: hidden;
  padding-top: 120px;
  font-family: Arial, Helvetica, sans-serif;
}

.Mainheading h1 {
  position: fixed;
  top: 60px;                  /* distance from top */
  left: 50%;                  /* move to center horizontally */
  transform: translateX(-50%);/* perfectly center */
  font-size: 38px;
  color: white;
}

.h2text {
  font-size: 28px;
  font-weight: bold;
}


.movies-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 40px;
}

.movies-row::-webkit-scrollbar {
  display: none;
}

.movie-card {
  width: 190px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform .2s;
  text-decoration: none;
  color: white;
            box-shadow: 0 4px 15px rgba(5, 0, 0, 0.4);
            transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card:hover {
   transform: scale(1.03);
            box-shadow: 0 8px 20px rgba(255, 193, 7, 0.3);
}

.movie-card p {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  text-decoration: none;
}





/* Popup background */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

/* Popup box */
.popup-content {
  width: 250px;
  height: auto;
  background: #111;
  padding: 20px;
  border-radius: 18px;
  color: white;
  text-align: left;
  box-shadow: 0px 0px 30px black;
  animation: grow 0.3s ease;
}

@keyframes grow {
  from { transform: scale(0.6); }
  to { transform: scale(1); }
}

.popup-content img {
  width: 100%;
  border-radius: 12px;
}

.popup-buttons {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.watch-btn {
  background: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.plus-btn {
  background: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.desc {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}

.close {
  float: right;
  font-size: 30px;
  cursor: pointer;
}





/*New changes*/
.search-bar {
  position: fixed;
  top: 25px;               /* distance from top */
  right: 20px;           /* stick to the right side */
  z-index: 999;
}

.search-bar input {
  padding: 10px 15px;
  width: 300px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);   /* transparent black */
  color: white;                     /* white text */
  font-size: 16px;
}

.search-bar input::placeholder {
  color: #ccc;
}