body {
  background-color: black;
  margin: 28px;
  color: white;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.Mainimage h1 {
  text-align: center;
  margin: 40px;
}

.h2text {
  font-size: 28px;
  font-weight: bold;
}

.movies-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 40px;
}

.movies-row::-webkit-scrollbar {
  display: none;
}

.movie-card {
  width: 190px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform .2s;
  text-decoration: none;
  color: white;
}

.movie-card img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card p {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  text-decoration: none;
}





/* Popup background */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

/* Popup box */
.popup-content {
  width: 250px;
  height: auto;
  background: #111;
  padding: 20px;
  border-radius: 18px;
  color: white;
  text-align: left;
  box-shadow: 0px 0px 30px black;
  animation: grow 0.3s ease;
}

@keyframes grow {
  from { transform: scale(0.6); }
  to { transform: scale(1); }
}

.popup-content img {
  width: 100%;
  border-radius: 12px;
}

.popup-buttons {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.watch-btn {
  background: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.plus-btn {
  background: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.desc {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}

.close {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.logo img {
    height: 50px;
    width: auto;
    cursor: pointer;}


     footer{
            text-align:center;
            padding:10px;
            background:black;
            color:white;
        }

        .about{
            text-align:center;
            background:white;
            padding:20px;
            margin:20px;
            border-radius:10px;
        }

         header{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:15px 30px;
            background:black;
            color:white;
        }

        .search-bar input{
            padding:6px 10px;
            width:200px;
            border-radius:4px;
            border:none;
        }
